.my-list {
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.my-list__heading {
  height: 60px;
  font-weight: normal;
  justify-content: flex-start;
  width: 100%;
  padding-top: 30px;
}
