.results-list {
  flex-direction: column;
  width: 100%;
}

.results-list__item {
  height: 147px;
  border-top: 1px solid #e1e4e8;
}

.results-dashboard {
  width: 93%;
  flex-wrap: wrap;
}

.results-dashboard__item {
width: 50%;
}

