.app {
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  flex-direction: column;
}

.app__routes {
    flex-direction: column;
    align-items: center;
}

.wrapper-for-sticky-footer {
    flex: 1;
    flex-direction: column;
}
