.view {
  width: 100%;
  height: 77px;
  justify-content: flex-end;
  color: #e0e0e0;
}

.view__dashboard {
  width: 40px;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  font-size: 32px;
}

.view__list {
  width: 40px;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  font-size: 36px;
}

.view__dashboard.active,
.view__list.active {
  color: #3c4146;
}
